tmux/plugins/

nvim/plugged/
karabiner/automatic_backups/

# ignore github copilot entirely
github-copilot/

# ignore Renviron, since that probably has a GitHub PAT
Renviron

# ignore antidote directory and plugins executable
shell/zsh/antidote/
shell/zsh/zsh_plugins.zsh
